  
  .question-card {
    background-color: #fcfcfc;
    border-radius: 3px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    margin: 10px 20px 25px 20px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .question-card__question,
  .question-card__answer {
    grid-column: 1 / 5;
    justify-self: center;
  }
  
  .question-card__tags {
    grid-column: span 5;
    grid-row: 4 / 5;
    
  }
  .card__tags,
  .skills__tag {
    display: flex;
    justify-content: space-evenly;
  }
  
  .card__tags li {
    color: #fcfcfc;
    background-color: #44b59d;
    padding: 5px;
    width: 50px;
  }
  .card__tags li:hover {
    transform: scale(1.1);
  }

  .material-icons {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card__bookmark {
    color:#333;
    position: absolute;
    right: 10px;
    top: -1rem;
    margin: 0;
    padding: 0;
  }

  .card__bookmark:hover {
    transform: scale(1.1);
  }

  .bookmark-active {
    color: tomato;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }