

.create-question {
    margin: 0 1rem;
    padding: 0 1rem;
  }

.question,
.answer {
    margin-top: 1rem;
}

form label {
    font-weight: var(--fw-800);
    font-size: 1.2rem;
    margin-top:1rem;
}

textarea {
    font-family: ;
    max-width: 100%;
    font-weight: var(--fw-300);
    font-size: 0.7rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    border-radius: 2px;
    border: 1px solid var(--input-border);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0.25em 0.5em;
    margin: 0;
}

.create-categories {
    display: grid;
    grid-template-columns: 1rem auto;
    margin: 1rem 0;
}

